{
    "extends": "airbnb/base",
    "parser": "babel-eslint",
    "env": {
      "mocha": true
    },
    "rules": {
      "no-param-reassign": [2, {"props": false}],
      "comma-dangle": [0, "always-multiline"],
      "no-use-before-define": [2, "nofunc"],
      "max-len": [2, 180, 4]
    },
    "globals": {
      "ON_DEV": false,
      "ON_TEST": false,
      "ON_PROD": false,
      "sinon": false,
      "expect": false
    }
}
